.page-holder {
    min-height: 100vh;
}

.bg-cover-register {
    background: url(../images/backgrounds/RegisterBackgroundGrayscale.jpg);
    background-size: cover;
}

#mainBody {
    padding: 1em;
}

.main-wrapper {
    height: 100vh;
}

.about-image {
    height: 542px;
    width: 539px;
    display: block;
    background: url(../images//backgrounds/Apathetic\ V3.png);
    background-size: cover;
}

.about {
    border-color: black;
    border-style: solid;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
}

.rightBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    transform: translate(-100%, 0);
    backdrop-filter: blur(5px);
}

.card-small {
    max-width: 20rem;
}

.blank-image {
    height: 200px; 
    width: 400px; 
    display: block;
}

.card-recipe {
    max-width: 40rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}

.centered {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}