.page-holder {
    min-height: 100vh;
}

.bg-cover-register {
    background: url(../images/backgrounds/RegisterBackgroundGrayscale.jpg);
    background-size: cover;
}

#mainBody {
    padding: 1em;
}

.main-wrapper {
    height: 100vh;
}

.rightBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    transform: translate(-100%, 0);
    backdrop-filter: blur(5px);
}

.card {
    max-width: 20rem;
}

.centered {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}